@charset "UTF-8";
:root {
  --nv-grid-gap: 1rem;
  --nv-container-padding: 2.5rem 2.5rem;
  --nv-control-border-width: 1px;
  --nv-control-border-width-hover: 2px;
  --nv-control-border-radius: 0.3rem;
  --nv-control-border-radius-rounded: 1rem;
  --nv-control-box-shadow: 0 2px 4px 0 var(--nv-primary-shadow);
  --nv-control-padding-inline: 0.5rem;
  --nv-control-padding: 0.45rem 0.25rem;
  --nv-control-color: #444050;
  --nv-control-border-color: #d1d0d4;
  --nv-control-font-size: 14px;
  --nv-control-help-color: #9590a3;
  --nv-card-border-radius: 0.75rem;
  --nv-card-padding: 1.5rem;
  --nv-card-box-shadow: -1px -1px 8px 1px var(--nv-muted);
}

:root,
[data-theme=light] {
  --nv-blue: #007bff;
  --nv-indigo: #6610f2;
  --nv-purple: #7367f0;
  --nv-pink: #e83e8c;
  --nv-red: #ff4c51;
  --nv-orange: #fd7e14;
  --nv-yellow: #ff9f43;
  --nv-green: #28c76f;
  --nv-teal: #20c997;
  --nv-cyan: #00bad1;
  --nv-black: #2f2b3d;
  --nv-white: #fff;
  --nv-gray: rgba(47, 43, 61, 0.6);
  --nv-gray-dark: rgba(47, 43, 61, 0.8);
  --nv-gray-25: rgba(47, 43, 61, 0.015);
  --nv-gray-50: rgba(47, 43, 61, 0.06);
  --nv-primary: #7367f0;
  --nv-secondary: #808390;
  --nv-success: #28c76f;
  --nv-info: #00bad1;
  --nv-warning: #ff9f43;
  --nv-danger: #ff4c51;
  --nv-light: #dfdfe3;
  --nv-dark: #4b4b4b;
  --nv-primary-shadow: rgba(115, 103, 240, 0.3);
  --nv-muted: rgba(136, 136, 136, 0.2);
  --nv-primary-rgb: 115, 103, 240;
  --nv-secondary-rgb: 128, 131, 144;
  --nv-success-rgb: 40, 199, 111;
  --nv-info-rgb: 0, 186, 209;
  --nv-warning-rgb: 255, 159, 67;
  --nv-danger-rgb: 255, 76, 81;
  --nv-light-rgb: 223, 223, 227;
  --nv-dark-rgb: 75, 75, 75;
  --nv-gray-rgb: 47, 43, 61;
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.mr-0 {
  margin-right: 0;
}

.p-0 {
  padding: 0;
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.pr-0 {
  padding-right: 0;
}

.m-xs-0 {
  margin: 0;
}

.mt-xs-0 {
  margin-top: 0;
}

.mb-xs-0 {
  margin-bottom: 0;
}

.ml-xs-0 {
  margin-left: 0;
}

.mr-xs-0 {
  margin-right: 0;
}

.p-xs-0 {
  padding: 0;
}

.pt-xs-0 {
  padding-top: 0;
}

.pb-xs-0 {
  padding-bottom: 0;
}

.pl-xs-0 {
  padding-left: 0;
}

.pr-xs-0 {
  padding-right: 0;
}

.m-sm-0 {
  margin: 0;
}

.mt-sm-0 {
  margin-top: 0;
}

.mb-sm-0 {
  margin-bottom: 0;
}

.ml-sm-0 {
  margin-left: 0;
}

.mr-sm-0 {
  margin-right: 0;
}

.p-sm-0 {
  padding: 0;
}

.pt-sm-0 {
  padding-top: 0;
}

.pb-sm-0 {
  padding-bottom: 0;
}

.pl-sm-0 {
  padding-left: 0;
}

.pr-sm-0 {
  padding-right: 0;
}

.m-md-0 {
  margin: 0;
}

.mt-md-0 {
  margin-top: 0;
}

.mb-md-0 {
  margin-bottom: 0;
}

.ml-md-0 {
  margin-left: 0;
}

.mr-md-0 {
  margin-right: 0;
}

.p-md-0 {
  padding: 0;
}

.pt-md-0 {
  padding-top: 0;
}

.pb-md-0 {
  padding-bottom: 0;
}

.pl-md-0 {
  padding-left: 0;
}

.pr-md-0 {
  padding-right: 0;
}

.m-lg-0 {
  margin: 0;
}

.mt-lg-0 {
  margin-top: 0;
}

.mb-lg-0 {
  margin-bottom: 0;
}

.ml-lg-0 {
  margin-left: 0;
}

.mr-lg-0 {
  margin-right: 0;
}

.p-lg-0 {
  padding: 0;
}

.pt-lg-0 {
  padding-top: 0;
}

.pb-lg-0 {
  padding-bottom: 0;
}

.pl-lg-0 {
  padding-left: 0;
}

.pr-lg-0 {
  padding-right: 0;
}

.m-xl-0 {
  margin: 0;
}

.mt-xl-0 {
  margin-top: 0;
}

.mb-xl-0 {
  margin-bottom: 0;
}

.ml-xl-0 {
  margin-left: 0;
}

.mr-xl-0 {
  margin-right: 0;
}

.p-xl-0 {
  padding: 0;
}

.pt-xl-0 {
  padding-top: 0;
}

.pb-xl-0 {
  padding-bottom: 0;
}

.pl-xl-0 {
  padding-left: 0;
}

.pr-xl-0 {
  padding-right: 0;
}

.m-xxl-0 {
  margin: 0;
}

.mt-xxl-0 {
  margin-top: 0;
}

.mb-xxl-0 {
  margin-bottom: 0;
}

.ml-xxl-0 {
  margin-left: 0;
}

.mr-xxl-0 {
  margin-right: 0;
}

.p-xxl-0 {
  padding: 0;
}

.pt-xxl-0 {
  padding-top: 0;
}

.pb-xxl-0 {
  padding-bottom: 0;
}

.pl-xxl-0 {
  padding-left: 0;
}

.pr-xxl-0 {
  padding-right: 0;
}

.m-1 {
  margin: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.p-1 {
  padding: 0.25rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.m-xs-1 {
  margin: 0.25rem;
}

.mt-xs-1 {
  margin-top: 0.25rem;
}

.mb-xs-1 {
  margin-bottom: 0.25rem;
}

.ml-xs-1 {
  margin-left: 0.25rem;
}

.mr-xs-1 {
  margin-right: 0.25rem;
}

.p-xs-1 {
  padding: 0.25rem;
}

.pt-xs-1 {
  padding-top: 0.25rem;
}

.pb-xs-1 {
  padding-bottom: 0.25rem;
}

.pl-xs-1 {
  padding-left: 0.25rem;
}

.pr-xs-1 {
  padding-right: 0.25rem;
}

.m-sm-1 {
  margin: 0.25rem;
}

.mt-sm-1 {
  margin-top: 0.25rem;
}

.mb-sm-1 {
  margin-bottom: 0.25rem;
}

.ml-sm-1 {
  margin-left: 0.25rem;
}

.mr-sm-1 {
  margin-right: 0.25rem;
}

.p-sm-1 {
  padding: 0.25rem;
}

.pt-sm-1 {
  padding-top: 0.25rem;
}

.pb-sm-1 {
  padding-bottom: 0.25rem;
}

.pl-sm-1 {
  padding-left: 0.25rem;
}

.pr-sm-1 {
  padding-right: 0.25rem;
}

.m-md-1 {
  margin: 0.25rem;
}

.mt-md-1 {
  margin-top: 0.25rem;
}

.mb-md-1 {
  margin-bottom: 0.25rem;
}

.ml-md-1 {
  margin-left: 0.25rem;
}

.mr-md-1 {
  margin-right: 0.25rem;
}

.p-md-1 {
  padding: 0.25rem;
}

.pt-md-1 {
  padding-top: 0.25rem;
}

.pb-md-1 {
  padding-bottom: 0.25rem;
}

.pl-md-1 {
  padding-left: 0.25rem;
}

.pr-md-1 {
  padding-right: 0.25rem;
}

.m-lg-1 {
  margin: 0.25rem;
}

.mt-lg-1 {
  margin-top: 0.25rem;
}

.mb-lg-1 {
  margin-bottom: 0.25rem;
}

.ml-lg-1 {
  margin-left: 0.25rem;
}

.mr-lg-1 {
  margin-right: 0.25rem;
}

.p-lg-1 {
  padding: 0.25rem;
}

.pt-lg-1 {
  padding-top: 0.25rem;
}

.pb-lg-1 {
  padding-bottom: 0.25rem;
}

.pl-lg-1 {
  padding-left: 0.25rem;
}

.pr-lg-1 {
  padding-right: 0.25rem;
}

.m-xl-1 {
  margin: 0.25rem;
}

.mt-xl-1 {
  margin-top: 0.25rem;
}

.mb-xl-1 {
  margin-bottom: 0.25rem;
}

.ml-xl-1 {
  margin-left: 0.25rem;
}

.mr-xl-1 {
  margin-right: 0.25rem;
}

.p-xl-1 {
  padding: 0.25rem;
}

.pt-xl-1 {
  padding-top: 0.25rem;
}

.pb-xl-1 {
  padding-bottom: 0.25rem;
}

.pl-xl-1 {
  padding-left: 0.25rem;
}

.pr-xl-1 {
  padding-right: 0.25rem;
}

.m-xxl-1 {
  margin: 0.25rem;
}

.mt-xxl-1 {
  margin-top: 0.25rem;
}

.mb-xxl-1 {
  margin-bottom: 0.25rem;
}

.ml-xxl-1 {
  margin-left: 0.25rem;
}

.mr-xxl-1 {
  margin-right: 0.25rem;
}

.p-xxl-1 {
  padding: 0.25rem;
}

.pt-xxl-1 {
  padding-top: 0.25rem;
}

.pb-xxl-1 {
  padding-bottom: 0.25rem;
}

.pl-xxl-1 {
  padding-left: 0.25rem;
}

.pr-xxl-1 {
  padding-right: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.p-2 {
  padding: 0.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.m-xs-2 {
  margin: 0.5rem;
}

.mt-xs-2 {
  margin-top: 0.5rem;
}

.mb-xs-2 {
  margin-bottom: 0.5rem;
}

.ml-xs-2 {
  margin-left: 0.5rem;
}

.mr-xs-2 {
  margin-right: 0.5rem;
}

.p-xs-2 {
  padding: 0.5rem;
}

.pt-xs-2 {
  padding-top: 0.5rem;
}

.pb-xs-2 {
  padding-bottom: 0.5rem;
}

.pl-xs-2 {
  padding-left: 0.5rem;
}

.pr-xs-2 {
  padding-right: 0.5rem;
}

.m-sm-2 {
  margin: 0.5rem;
}

.mt-sm-2 {
  margin-top: 0.5rem;
}

.mb-sm-2 {
  margin-bottom: 0.5rem;
}

.ml-sm-2 {
  margin-left: 0.5rem;
}

.mr-sm-2 {
  margin-right: 0.5rem;
}

.p-sm-2 {
  padding: 0.5rem;
}

.pt-sm-2 {
  padding-top: 0.5rem;
}

.pb-sm-2 {
  padding-bottom: 0.5rem;
}

.pl-sm-2 {
  padding-left: 0.5rem;
}

.pr-sm-2 {
  padding-right: 0.5rem;
}

.m-md-2 {
  margin: 0.5rem;
}

.mt-md-2 {
  margin-top: 0.5rem;
}

.mb-md-2 {
  margin-bottom: 0.5rem;
}

.ml-md-2 {
  margin-left: 0.5rem;
}

.mr-md-2 {
  margin-right: 0.5rem;
}

.p-md-2 {
  padding: 0.5rem;
}

.pt-md-2 {
  padding-top: 0.5rem;
}

.pb-md-2 {
  padding-bottom: 0.5rem;
}

.pl-md-2 {
  padding-left: 0.5rem;
}

.pr-md-2 {
  padding-right: 0.5rem;
}

.m-lg-2 {
  margin: 0.5rem;
}

.mt-lg-2 {
  margin-top: 0.5rem;
}

.mb-lg-2 {
  margin-bottom: 0.5rem;
}

.ml-lg-2 {
  margin-left: 0.5rem;
}

.mr-lg-2 {
  margin-right: 0.5rem;
}

.p-lg-2 {
  padding: 0.5rem;
}

.pt-lg-2 {
  padding-top: 0.5rem;
}

.pb-lg-2 {
  padding-bottom: 0.5rem;
}

.pl-lg-2 {
  padding-left: 0.5rem;
}

.pr-lg-2 {
  padding-right: 0.5rem;
}

.m-xl-2 {
  margin: 0.5rem;
}

.mt-xl-2 {
  margin-top: 0.5rem;
}

.mb-xl-2 {
  margin-bottom: 0.5rem;
}

.ml-xl-2 {
  margin-left: 0.5rem;
}

.mr-xl-2 {
  margin-right: 0.5rem;
}

.p-xl-2 {
  padding: 0.5rem;
}

.pt-xl-2 {
  padding-top: 0.5rem;
}

.pb-xl-2 {
  padding-bottom: 0.5rem;
}

.pl-xl-2 {
  padding-left: 0.5rem;
}

.pr-xl-2 {
  padding-right: 0.5rem;
}

.m-xxl-2 {
  margin: 0.5rem;
}

.mt-xxl-2 {
  margin-top: 0.5rem;
}

.mb-xxl-2 {
  margin-bottom: 0.5rem;
}

.ml-xxl-2 {
  margin-left: 0.5rem;
}

.mr-xxl-2 {
  margin-right: 0.5rem;
}

.p-xxl-2 {
  padding: 0.5rem;
}

.pt-xxl-2 {
  padding-top: 0.5rem;
}

.pb-xxl-2 {
  padding-bottom: 0.5rem;
}

.pl-xxl-2 {
  padding-left: 0.5rem;
}

.pr-xxl-2 {
  padding-right: 0.5rem;
}

.m-3 {
  margin: 1rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.ml-3 {
  margin-left: 1rem;
}

.mr-3 {
  margin-right: 1rem;
}

.p-3 {
  padding: 1rem;
}

.pt-3 {
  padding-top: 1rem;
}

.pb-3 {
  padding-bottom: 1rem;
}

.pl-3 {
  padding-left: 1rem;
}

.pr-3 {
  padding-right: 1rem;
}

.m-xs-3 {
  margin: 1rem;
}

.mt-xs-3 {
  margin-top: 1rem;
}

.mb-xs-3 {
  margin-bottom: 1rem;
}

.ml-xs-3 {
  margin-left: 1rem;
}

.mr-xs-3 {
  margin-right: 1rem;
}

.p-xs-3 {
  padding: 1rem;
}

.pt-xs-3 {
  padding-top: 1rem;
}

.pb-xs-3 {
  padding-bottom: 1rem;
}

.pl-xs-3 {
  padding-left: 1rem;
}

.pr-xs-3 {
  padding-right: 1rem;
}

.m-sm-3 {
  margin: 1rem;
}

.mt-sm-3 {
  margin-top: 1rem;
}

.mb-sm-3 {
  margin-bottom: 1rem;
}

.ml-sm-3 {
  margin-left: 1rem;
}

.mr-sm-3 {
  margin-right: 1rem;
}

.p-sm-3 {
  padding: 1rem;
}

.pt-sm-3 {
  padding-top: 1rem;
}

.pb-sm-3 {
  padding-bottom: 1rem;
}

.pl-sm-3 {
  padding-left: 1rem;
}

.pr-sm-3 {
  padding-right: 1rem;
}

.m-md-3 {
  margin: 1rem;
}

.mt-md-3 {
  margin-top: 1rem;
}

.mb-md-3 {
  margin-bottom: 1rem;
}

.ml-md-3 {
  margin-left: 1rem;
}

.mr-md-3 {
  margin-right: 1rem;
}

.p-md-3 {
  padding: 1rem;
}

.pt-md-3 {
  padding-top: 1rem;
}

.pb-md-3 {
  padding-bottom: 1rem;
}

.pl-md-3 {
  padding-left: 1rem;
}

.pr-md-3 {
  padding-right: 1rem;
}

.m-lg-3 {
  margin: 1rem;
}

.mt-lg-3 {
  margin-top: 1rem;
}

.mb-lg-3 {
  margin-bottom: 1rem;
}

.ml-lg-3 {
  margin-left: 1rem;
}

.mr-lg-3 {
  margin-right: 1rem;
}

.p-lg-3 {
  padding: 1rem;
}

.pt-lg-3 {
  padding-top: 1rem;
}

.pb-lg-3 {
  padding-bottom: 1rem;
}

.pl-lg-3 {
  padding-left: 1rem;
}

.pr-lg-3 {
  padding-right: 1rem;
}

.m-xl-3 {
  margin: 1rem;
}

.mt-xl-3 {
  margin-top: 1rem;
}

.mb-xl-3 {
  margin-bottom: 1rem;
}

.ml-xl-3 {
  margin-left: 1rem;
}

.mr-xl-3 {
  margin-right: 1rem;
}

.p-xl-3 {
  padding: 1rem;
}

.pt-xl-3 {
  padding-top: 1rem;
}

.pb-xl-3 {
  padding-bottom: 1rem;
}

.pl-xl-3 {
  padding-left: 1rem;
}

.pr-xl-3 {
  padding-right: 1rem;
}

.m-xxl-3 {
  margin: 1rem;
}

.mt-xxl-3 {
  margin-top: 1rem;
}

.mb-xxl-3 {
  margin-bottom: 1rem;
}

.ml-xxl-3 {
  margin-left: 1rem;
}

.mr-xxl-3 {
  margin-right: 1rem;
}

.p-xxl-3 {
  padding: 1rem;
}

.pt-xxl-3 {
  padding-top: 1rem;
}

.pb-xxl-3 {
  padding-bottom: 1rem;
}

.pl-xxl-3 {
  padding-left: 1rem;
}

.pr-xxl-3 {
  padding-right: 1rem;
}

.m-4 {
  margin: 2rem;
}

.mt-4 {
  margin-top: 2rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.ml-4 {
  margin-left: 2rem;
}

.mr-4 {
  margin-right: 2rem;
}

.p-4 {
  padding: 2rem;
}

.pt-4 {
  padding-top: 2rem;
}

.pb-4 {
  padding-bottom: 2rem;
}

.pl-4 {
  padding-left: 2rem;
}

.pr-4 {
  padding-right: 2rem;
}

.m-xs-4 {
  margin: 2rem;
}

.mt-xs-4 {
  margin-top: 2rem;
}

.mb-xs-4 {
  margin-bottom: 2rem;
}

.ml-xs-4 {
  margin-left: 2rem;
}

.mr-xs-4 {
  margin-right: 2rem;
}

.p-xs-4 {
  padding: 2rem;
}

.pt-xs-4 {
  padding-top: 2rem;
}

.pb-xs-4 {
  padding-bottom: 2rem;
}

.pl-xs-4 {
  padding-left: 2rem;
}

.pr-xs-4 {
  padding-right: 2rem;
}

.m-sm-4 {
  margin: 2rem;
}

.mt-sm-4 {
  margin-top: 2rem;
}

.mb-sm-4 {
  margin-bottom: 2rem;
}

.ml-sm-4 {
  margin-left: 2rem;
}

.mr-sm-4 {
  margin-right: 2rem;
}

.p-sm-4 {
  padding: 2rem;
}

.pt-sm-4 {
  padding-top: 2rem;
}

.pb-sm-4 {
  padding-bottom: 2rem;
}

.pl-sm-4 {
  padding-left: 2rem;
}

.pr-sm-4 {
  padding-right: 2rem;
}

.m-md-4 {
  margin: 2rem;
}

.mt-md-4 {
  margin-top: 2rem;
}

.mb-md-4 {
  margin-bottom: 2rem;
}

.ml-md-4 {
  margin-left: 2rem;
}

.mr-md-4 {
  margin-right: 2rem;
}

.p-md-4 {
  padding: 2rem;
}

.pt-md-4 {
  padding-top: 2rem;
}

.pb-md-4 {
  padding-bottom: 2rem;
}

.pl-md-4 {
  padding-left: 2rem;
}

.pr-md-4 {
  padding-right: 2rem;
}

.m-lg-4 {
  margin: 2rem;
}

.mt-lg-4 {
  margin-top: 2rem;
}

.mb-lg-4 {
  margin-bottom: 2rem;
}

.ml-lg-4 {
  margin-left: 2rem;
}

.mr-lg-4 {
  margin-right: 2rem;
}

.p-lg-4 {
  padding: 2rem;
}

.pt-lg-4 {
  padding-top: 2rem;
}

.pb-lg-4 {
  padding-bottom: 2rem;
}

.pl-lg-4 {
  padding-left: 2rem;
}

.pr-lg-4 {
  padding-right: 2rem;
}

.m-xl-4 {
  margin: 2rem;
}

.mt-xl-4 {
  margin-top: 2rem;
}

.mb-xl-4 {
  margin-bottom: 2rem;
}

.ml-xl-4 {
  margin-left: 2rem;
}

.mr-xl-4 {
  margin-right: 2rem;
}

.p-xl-4 {
  padding: 2rem;
}

.pt-xl-4 {
  padding-top: 2rem;
}

.pb-xl-4 {
  padding-bottom: 2rem;
}

.pl-xl-4 {
  padding-left: 2rem;
}

.pr-xl-4 {
  padding-right: 2rem;
}

.m-xxl-4 {
  margin: 2rem;
}

.mt-xxl-4 {
  margin-top: 2rem;
}

.mb-xxl-4 {
  margin-bottom: 2rem;
}

.ml-xxl-4 {
  margin-left: 2rem;
}

.mr-xxl-4 {
  margin-right: 2rem;
}

.p-xxl-4 {
  padding: 2rem;
}

.pt-xxl-4 {
  padding-top: 2rem;
}

.pb-xxl-4 {
  padding-bottom: 2rem;
}

.pl-xxl-4 {
  padding-left: 2rem;
}

.pr-xxl-4 {
  padding-right: 2rem;
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Font-Light";
}

label,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--nv-control-color);
  font-family: "Font-Medium";
}

/**
* @license
*
* Font Family: Supreme
* Designed by: Jérémie Hornus, Ilya Naumoff
* URL: https://www.fontshare.com/fonts/supreme
* © 2025 Indian Type Foundry
*
* Supreme Light 
* Supreme Regular 
* Supreme Medium 
* Supreme Bold 
*
*/
@font-face {
  font-family: "Font-Light";
  src: url("../fonts/Supreme-Light.woff2") format("woff2"), url("../fonts/Supreme-Light.woff") format("woff"), url("../fonts/Supreme-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Font-Regular";
  src: url("../fonts/Supreme-Regular.woff2") format("woff2"), url("../fonts/Supreme-Regular.woff") format("woff"), url("../fonts/Supreme-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Font-Medium";
  src: url("../fonts/Supreme-Medium.woff2") format("woff2"), url("../fonts/Supreme-Medium.woff") format("woff"), url("../fonts/Supreme-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Font-Bold";
  src: url("../fonts/Supreme-Bold.woff2") format("woff2"), url("../fonts/Supreme-Bold.woff") format("woff"), url("../fonts/Supreme-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
.form-group > label {
  font-size: var(--nv-control-font-size);
}
.form-group > .help {
  font-size: 12px;
  color: var(--nv-control-help-color);
  font-family: "Font-Regular";
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--nv-grid-gap);
}
.row > * {
  max-width: 100%;
  grid-column: span 12;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.col-1 {
  grid-column: span 1;
}

.col-offset-1 {
  margin-left: 8.3333333333%;
}

.col-2 {
  grid-column: span 2;
}

.col-offset-2 {
  margin-left: 16.6666666667%;
}

.col-3 {
  grid-column: span 3;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-4 {
  grid-column: span 4;
}

.col-offset-4 {
  margin-left: 33.3333333333%;
}

.col-5 {
  grid-column: span 5;
}

.col-offset-5 {
  margin-left: 41.6666666667%;
}

.col-6 {
  grid-column: span 6;
}

.col-offset-6 {
  margin-left: 50%;
}

.col-7 {
  grid-column: span 7;
}

.col-offset-7 {
  margin-left: 58.3333333333%;
}

.col-8 {
  grid-column: span 8;
}

.col-offset-8 {
  margin-left: 66.6666666667%;
}

.col-9 {
  grid-column: span 9;
}

.col-offset-9 {
  margin-left: 75%;
}

.col-10 {
  grid-column: span 10;
}

.col-offset-10 {
  margin-left: 83.3333333333%;
}

.col-11 {
  grid-column: span 11;
}

.col-offset-11 {
  margin-left: 91.6666666667%;
}

.col-12 {
  grid-column: span 12;
}

.col-offset-12 {
  margin-left: 100%;
}

/*
==========================================================================================
==================================== RESPONSIVE ==========================================
==========================================================================================
*/
@media (min-width: 0) {
  .col-xs-1 {
    grid-column: span 1;
  }
  .col-offset-xs-1 {
    margin-left: 8.3333333333%;
  }
  .col-xs-2 {
    grid-column: span 2;
  }
  .col-offset-xs-2 {
    margin-left: 16.6666666667%;
  }
  .col-xs-3 {
    grid-column: span 3;
  }
  .col-offset-xs-3 {
    margin-left: 25%;
  }
  .col-xs-4 {
    grid-column: span 4;
  }
  .col-offset-xs-4 {
    margin-left: 33.3333333333%;
  }
  .col-xs-5 {
    grid-column: span 5;
  }
  .col-offset-xs-5 {
    margin-left: 41.6666666667%;
  }
  .col-xs-6 {
    grid-column: span 6;
  }
  .col-offset-xs-6 {
    margin-left: 50%;
  }
  .col-xs-7 {
    grid-column: span 7;
  }
  .col-offset-xs-7 {
    margin-left: 58.3333333333%;
  }
  .col-xs-8 {
    grid-column: span 8;
  }
  .col-offset-xs-8 {
    margin-left: 66.6666666667%;
  }
  .col-xs-9 {
    grid-column: span 9;
  }
  .col-offset-xs-9 {
    margin-left: 75%;
  }
  .col-xs-10 {
    grid-column: span 10;
  }
  .col-offset-xs-10 {
    margin-left: 83.3333333333%;
  }
  .col-xs-11 {
    grid-column: span 11;
  }
  .col-offset-xs-11 {
    margin-left: 91.6666666667%;
  }
  .col-xs-12 {
    grid-column: span 12;
  }
  .col-offset-xs-12 {
    margin-left: 100%;
  }
}
@media (min-width: 576px) {
  .col-sm-1 {
    grid-column: span 1;
  }
  .col-offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .col-sm-2 {
    grid-column: span 2;
  }
  .col-offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .col-sm-3 {
    grid-column: span 3;
  }
  .col-offset-sm-3 {
    margin-left: 25%;
  }
  .col-sm-4 {
    grid-column: span 4;
  }
  .col-offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .col-sm-5 {
    grid-column: span 5;
  }
  .col-offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .col-sm-6 {
    grid-column: span 6;
  }
  .col-offset-sm-6 {
    margin-left: 50%;
  }
  .col-sm-7 {
    grid-column: span 7;
  }
  .col-offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .col-sm-8 {
    grid-column: span 8;
  }
  .col-offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .col-sm-9 {
    grid-column: span 9;
  }
  .col-offset-sm-9 {
    margin-left: 75%;
  }
  .col-sm-10 {
    grid-column: span 10;
  }
  .col-offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .col-sm-11 {
    grid-column: span 11;
  }
  .col-offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .col-sm-12 {
    grid-column: span 12;
  }
  .col-offset-sm-12 {
    margin-left: 100%;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    grid-column: span 1;
  }
  .col-offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .col-md-2 {
    grid-column: span 2;
  }
  .col-offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .col-md-3 {
    grid-column: span 3;
  }
  .col-offset-md-3 {
    margin-left: 25%;
  }
  .col-md-4 {
    grid-column: span 4;
  }
  .col-offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .col-md-5 {
    grid-column: span 5;
  }
  .col-offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .col-md-6 {
    grid-column: span 6;
  }
  .col-offset-md-6 {
    margin-left: 50%;
  }
  .col-md-7 {
    grid-column: span 7;
  }
  .col-offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .col-md-8 {
    grid-column: span 8;
  }
  .col-offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .col-md-9 {
    grid-column: span 9;
  }
  .col-offset-md-9 {
    margin-left: 75%;
  }
  .col-md-10 {
    grid-column: span 10;
  }
  .col-offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .col-md-11 {
    grid-column: span 11;
  }
  .col-offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .col-md-12 {
    grid-column: span 12;
  }
  .col-offset-md-12 {
    margin-left: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    grid-column: span 1;
  }
  .col-offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .col-lg-2 {
    grid-column: span 2;
  }
  .col-offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .col-lg-3 {
    grid-column: span 3;
  }
  .col-offset-lg-3 {
    margin-left: 25%;
  }
  .col-lg-4 {
    grid-column: span 4;
  }
  .col-offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .col-lg-5 {
    grid-column: span 5;
  }
  .col-offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .col-lg-6 {
    grid-column: span 6;
  }
  .col-offset-lg-6 {
    margin-left: 50%;
  }
  .col-lg-7 {
    grid-column: span 7;
  }
  .col-offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .col-lg-8 {
    grid-column: span 8;
  }
  .col-offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .col-lg-9 {
    grid-column: span 9;
  }
  .col-offset-lg-9 {
    margin-left: 75%;
  }
  .col-lg-10 {
    grid-column: span 10;
  }
  .col-offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .col-lg-11 {
    grid-column: span 11;
  }
  .col-offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .col-lg-12 {
    grid-column: span 12;
  }
  .col-offset-lg-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    grid-column: span 1;
  }
  .col-offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .col-xl-2 {
    grid-column: span 2;
  }
  .col-offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .col-xl-3 {
    grid-column: span 3;
  }
  .col-offset-xl-3 {
    margin-left: 25%;
  }
  .col-xl-4 {
    grid-column: span 4;
  }
  .col-offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .col-xl-5 {
    grid-column: span 5;
  }
  .col-offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .col-xl-6 {
    grid-column: span 6;
  }
  .col-offset-xl-6 {
    margin-left: 50%;
  }
  .col-xl-7 {
    grid-column: span 7;
  }
  .col-offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .col-xl-8 {
    grid-column: span 8;
  }
  .col-offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .col-xl-9 {
    grid-column: span 9;
  }
  .col-offset-xl-9 {
    margin-left: 75%;
  }
  .col-xl-10 {
    grid-column: span 10;
  }
  .col-offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .col-xl-11 {
    grid-column: span 11;
  }
  .col-offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .col-xl-12 {
    grid-column: span 12;
  }
  .col-offset-xl-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1400px) {
  .col-xxl-1 {
    grid-column: span 1;
  }
  .col-offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .col-xxl-2 {
    grid-column: span 2;
  }
  .col-offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .col-xxl-3 {
    grid-column: span 3;
  }
  .col-offset-xxl-3 {
    margin-left: 25%;
  }
  .col-xxl-4 {
    grid-column: span 4;
  }
  .col-offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .col-xxl-5 {
    grid-column: span 5;
  }
  .col-offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .col-xxl-6 {
    grid-column: span 6;
  }
  .col-offset-xxl-6 {
    margin-left: 50%;
  }
  .col-xxl-7 {
    grid-column: span 7;
  }
  .col-offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .col-xxl-8 {
    grid-column: span 8;
  }
  .col-offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .col-xxl-9 {
    grid-column: span 9;
  }
  .col-offset-xxl-9 {
    margin-left: 75%;
  }
  .col-xxl-10 {
    grid-column: span 10;
  }
  .col-offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .col-xxl-11 {
    grid-column: span 11;
  }
  .col-offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .col-xxl-12 {
    grid-column: span 12;
  }
  .col-offset-xxl-12 {
    margin-left: 100%;
  }
}
.card {
  border-radius: var(--nv-card-border-radius);
  box-shadow: var(--nv-card-box-shadow);
}
.card > .card-header {
  padding-top: var(--nv-card-padding);
  padding-right: var(--nv-card-padding);
  padding-left: var(--nv-card-padding);
  padding-bottom: var(--nv-card-padding);
}
.card > .card-body {
  padding-bottom: var(--nv-card-padding);
  padding-left: var(--nv-card-padding);
  padding-right: var(--nv-card-padding);
}

.container {
  padding: var(--nv-container-padding);
}

.form-control {
  background-color: var(--nv-white);
  padding: var(--nv-control-padding);
  border-radius: var(--nv-control-border-radius);
  padding-inline: var(--nv-control-padding-inline);
  border: var(--nv-control-border-width) solid var(--nv-control-border-color);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
  display: block;
}
.form-control:hover, .form-control:focus {
  border-width: var(--nv-control-border-width-hover);
  border-color: var(--nv-primary);
  box-shadow: var(--nv-control-box-shadow);
}
.form-control.rounded {
  border-radius: var(--nv-control-border-radius-rounded);
}/*# sourceMappingURL=main.css.map */