$align-icon: 0.75rem;
.form-group {
  position: relative;
  > label {
    font-size: var(--nv-control-font-size);
  }
  > .help {
    font-size: 12px;
    color: var(--nv-control-help-color);
    font-family: "Font-Regular";
  }
  &:has(> .icon-left) {
    > .form-control {
      padding-left: calc(var(--nv-control-padding-inline) + ($align-icon * 2));
    }
  }

  &:has(> .icon-right) {
    > .form-control {
      padding-right: calc(var(--nv-control-padding-inline) + ($align-icon * 2));
    }
  }
  > .icon {
    position: absolute;
    top: 0.4rem;
    color: var(--nv-dark);
    &.icon-right {
      right: $align-icon;
    }
    &.icon-left {
      left: $align-icon;
    }
  }
  &.floating-label {
    &:has(> .icon-left) {
      > label {
        left: calc(var(--nv-control-padding-inline) + ($align-icon * 2));
      }
    }

    &:has(> .icon-right) {
      > label {
        right: calc(var(--nv-control-padding-inline) + ($align-icon * 2));
      }
    }
    > label {
      position: absolute;
      top: 1rem;
      left: var(--nv-control-padding-inline);
      transform: translateY(-50%);
      transition: top 0.3s ease-in-out, left 0.3s ease-in-out, color 0.3s ease-in-out;
      color: var(--nv-placeholder);
      cursor: text;
    }
    > .form-control {
      &::placeholder {
        color: transparent;
      }
    }
    &:has(> .form-control:focus, > .form-control:not(:placeholder-shown)) {
      > label {
        top: -0.85rem;
        left: 0;
        color: var(--nv-control-color);
      }
    }
  }
}
